Package: org.evendev.dockline
Name: DockLineRemover
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Remove the small but mildy infuriating line above your dock.
Maintainer: EvenDev
Author: EvenDev
Section: Tweaks
